﻿@model Picsar.Models.Quotes


<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148531846-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-148531846-1'); 
    </script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="generator" content="Mobirise v4.10.7, imagequotes.azurewebsites.net">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <meta name="description" content="Share your feelings through pics on Whatsapp/Facebook">
    <link rel="icon" href="https://imagequotes.blob.core.windows.net/imagequotes/p.png">

    <title>PicturesGully</title>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="PicturesGully" />
    <meta property="og:description" content="Share your feelings through pics on Whatsapp/Facebook" />
    <meta property="og:image" content="https://imagequotes.blob.core.windows.net/imagequotes/p.png" />
    <link rel="stylesheet" href="~/assets/web/assets/mobirise-icons/mobirise-icons.css">
    <link rel="stylesheet" href="~/assets/tether/tether.min.css">
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="~/assets/dropdown/css/style.css">
    <link rel="stylesheet" href="~/assets/theme/css/style.css">
    <link rel="stylesheet" href="~/assets/mobirise/css/mbr-additional.css" type="text/css">
    <link rel="stylesheet" href="~/assets/loadmore/css/load-more-button.css" type="text/css">


    <!-- start Mixpanel -->
    <script type="text/javascript">
        (function (c, a) {
            if (!a.__SV) {
                var b = window; try { var d, m, j, k = b.location, f = k.hash; d = function (a, b) { return (m = a.match(RegExp(b + "=([^&]*)"))) ? m[1] : null }; f && d(f, "state") && (j = JSON.parse(decodeURIComponent(d(f, "state"))), "mpeditor" === j.action && (b.sessionStorage.setItem("_mpcehash", f), history.replaceState(j.desiredHash || "", c.title, k.pathname + k.search))) } catch (n) { } var l, h; window.mixpanel = a; a._i = []; a.init = function (b, d, g) {
                    function c(b, i) {
                        var a = i.split("."); 2 == a.length && (b = b[a[0]], i = a[1]); b[i] = function () {
                            b.push([i].concat(Array.prototype.slice.call(arguments,
                                0)))
                        }
                    } var e = a; "undefined" !== typeof g ? e = a[g] = [] : g = "mixpanel"; e.people = e.people || []; e.toString = function (b) { var a = "mixpanel"; "mixpanel" !== g && (a += "." + g); b || (a += " (stub)"); return a }; e.people.toString = function () { return e.toString(1) + ".people (stub)" }; l = "disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split(" ");
                    for (h = 0; h < l.length; h++)c(e, l[h]); var f = "set set_once union unset remove delete".split(" "); e.get_group = function () { function a(c) { b[c] = function () { call2_args = arguments; call2 = [c].concat(Array.prototype.slice.call(call2_args, 0)); e.push([d, call2]) } } for (var b = {}, d = ["get_group"].concat(Array.prototype.slice.call(arguments, 0)), c = 0; c < f.length; c++)a(f[c]); return b }; a._i.push([b, d, g])
                }; a.__SV = 1.2; b = c.createElement("script"); b.type = "text/javascript"; b.async = !0; b.src = "undefined" !== typeof MIXPANEL_CUSTOM_LIB_URL ?
                    MIXPANEL_CUSTOM_LIB_URL : "file:" === c.location.protocol && "//cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//) ? "https://cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js" : "//cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js"; d = c.getElementsByTagName("script")[0]; d.parentNode.insertBefore(b, d)
            }
        })(document, window.mixpanel || []);
        mixpanel.init("d6bc5c22adea26e224042aaf791a1366");
        mixpanel.identify();
    </script><!-- end Mixpanel -->
</head>
<body>
    <section class="menu cid-rzLwD7dbWc" once="menu" id="menu1-o">

        <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top collapsed">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="menu-logo">
                <div class="navbar-brand">

                    <span class="navbar-caption-wrap">
                        <a class="navbar-caption text-white display-4" href="/">
                            picturesgully
                        </a>
                    </span>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
                    <li class="nav-item">
                        <a class="nav-link link text-white display-4" href="/">

                            Home
                        </a>
                    </li>
                </ul>

            </div>
        </nav>
    </section>
    <section class="engine"><a href="https://imagequotes.azurewebsites.net/">build your own site</a></section>

    @foreach (var block in Model.QuoteBlocks)
    {
        @if (block.IsFirstBlock)
        {
            <section class="features18 popup-btn-cards cid-rzLwQlqvae" id="features18-p">
                <div class="container">
                    <h3 class="mbr-section-subtitle display-5 align-center mbr-fonts-style mbr-light">
                        @Model.Headline <br />
                    </h3>
                    @if (Model.IsMobile)
                    {
                        <h1 class="mbr-section-subtitle display-5 align-center mbr-fonts-style mbr-light" style="font-size:1.0rem">
                            <b>Long press on image to share/download</b>
                        </h1>
                    }
                    else
                    {
                        <h1 class="mbr-section-subtitle display-5 align-center mbr-fonts-style mbr-light" style="font-size:1.0rem">
                            <b>Right click on image for download options</b>
                        </h1>
                    }
                    <div class="media-container-row pt-5 ">
                        @foreach (var url in block.ImageUrl)
                        {
                            <div class="card p-3 col-12 col-md-6 col-lg-3">
                                <div class="card-wrapper">
                                    <div class="card-img">
                                        <div class="mbr-overlay"></div>
                                        @if (Model.IsMobile)
                                        {
                                            <img src=@url onclick='showinfo("Long press on image for share/download options");'>
                                        }
                                        else
                                        {
                                            <img src=@url onclick='showinfo("Right click on image for download options");'>
                                        }
                                    </div>

                                </div>
                            </div>

                        }
                    </div>
                </div>
            </section>
        }
        else
        {
            <section class="features18 popup-btn-cards cid-rzLyr4uNwg" id="features18-p">
                <div class="container">
                    <div class="media-container-row pt-5 ">
                        @foreach (var url in block.ImageUrl)
                        {

                            <div class="card p-3 col-12 col-md-6 col-lg-3">
                                <div class="card-wrapper">
                                    <div class="card-img">
                                        <div class="mbr-overlay"></div>
                                        @if (Model.IsMobile)
                                        {
                                            <img src=@url onclick='showinfo("Long press on image for share/download options");'>
                                        }
                                        else
                                        {
                                            <img src=@url onclick='showinfo("Right click on image for download options");'>
                                        }
                                    </div>

                                </div>
                            </div>

                        }
                    </div>
                </div>
            </section>
        }


    }
    <div id="div1">
      
    </div>
    <div id="loadMore" style="">
      <a href="#">Load More</a>
    </div>
    <script src="~/assets/web/assets/jquery/jquery.min.js"></script>
    <script src="~/assets/popper/popper.min.js"></script>
    <script src="~/assets/tether/tether.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/smoothscroll/smooth-scroll.js"></script>
    <script src="~/assets/dropdown/js/nav-dropdown.js"></script>
    <script src="~/assets/dropdown/js/navbar-dropdown.js"></script>
    <script src="~/assets/touchswipe/jquery.touch-swipe.min.js"></script>
    <script src="~/assets/mbr-popup-btns/mbr-popup-btns.js"></script>
    <script src="~/assets/theme/js/script.js"></script>
    <script src="~/assets/loadmore/js/load-more-button.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var userID = readCookie("userID");
            mixpanel.identify(userID);
            mixpanel.people.set({
                "$ID": userID
            });
            mixpanel.track("Quotes page loaded");
        });
        function showinfo(text) {
            mixpanel.track(text);
            Swal.fire({
                text: text,
                type: 'info',
                confirmButtonText: 'Ok got it!'
            })
        }
        function readCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }
    </script>

</body>
</html>

