﻿@model Picsar.Models.Quotes

@foreach (var block in Model.QuoteBlocks)
{
        <section class="features18 popup-btn-cards cid-rzLyr4uNwg" id="features18-p">
            <div class="container">
                <div class="media-container-row pt-5 ">
                    @foreach (var url in block.ImageUrl)
                    {

                        <div class="card p-3 col-12 col-md-6 col-lg-3">
                            <div class="card-wrapper">
                                <div class="card-img">
                                    <div class="mbr-overlay"></div>
                                    @if (Model.IsMobile)
                                    {
                                        <img src=@url onclick='showinfo("Long press on image for share/download options");'>
                                    }
                                    else
                                    {
                                        <img src=@url onclick='showinfo("Right click on image for download options");'>
                                    }
                                </div>

                            </div>
                        </div>

                    }
                </div>
            </div>
        </section>
  }



